@import "../02-base/color";

@import "../01-utilitles/mixins";

%letras 
{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    word-spacing: .013rem;
    letter-spacing: .015rem;
    font-weight: 500;
}

html
{
    scroll-behavior: smooth;
}

body 
{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

    /*HEADER*/

header 
{   
    background: transparent url('../../Imagenes/Paisaje.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    background-repeat: round;
    @include width-heigth;
    display: flex;
    flex-flow: column wrap;
}

    /*NAV_MENU*/
    
.container_menu 
{
    padding-left: 6%;
    width:100%;
    border-bottom: 1px solid $color-naranja;   
}

.nav_menu_1
{
    padding-top: 2%;
    justify-content: center; 
    @extend %letras; 
    
}

.container_ul
{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width:80%;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.menu__a 
{
    color: $color-blanco;  
    text-decoration: none;  
    &:hover 
    {
        color: $color-negro-claro2;
    }   
}  

@media only screen and (min-width:990px)
{
    .container_menu
    {
        height: 12vh;
    }
        .nav_menu_1
        {
            justify-content: end;
            padding-top: 0%;
            padding-right: 2%;
        }
            .container_ul
            {
                width: 60%;
                justify-content: space-evenly;
            }
}

@media only screen and (max-width:500px)
{
    .logo_1
    {
        width: 80px;
    }
    .nav_menu_1
    {
        padding-top: 0%;
    }
        .container_ul
        {
            flex-direction: column;
        }
}

    /*FIN NAV_MENU*/

    /*ARTICULO_1*/

.container_carousel
{
    width: 100%;
    position: relative;
    top: 23%;
}

.container_art_1
{
    display:inline-flex;
    flex-flow: column wrap;
    width:48%;
    padding-left: 7%;
}

.titulo_1 
{
    margin: 0%;
    padding-bottom: 6%;
    @include tipografia;
    word-spacing: .3rem;
    letter-spacing: .1rem; 
} 

.parrafo_1 
{
    width: 60%;
    padding-bottom: 2%;   
    color: $color-blanco;
    @extend %letras;           
}


.boton_1 
{ 
    @include width-heigth(150px, 50px);              
    @extend %letras;
    background: $color-naranja;
    border-radius: 25px 25px;
    border: 0px;
    color: $color-blanco; 
    &:hover 
    {
        background: #bf6e39;
    }    
}

.container_botones
{
    height: 15%;
    margin: 0%;
    top: 120%;
    left: 7%;
    justify-content: start;
}

.boton_carousel
{
    border-radius: 50%;
}

@media only screen and (max-width:1050px)
{
    .container_carousel
    {
        top:15%;
    }    
        .titulo_1      
        {       
        font-size: 2rem;
        }
            .parrafo_1
            {
                width: 85%;
            }
}

@media only screen and (max-width:550px)
{
    .container_carousel
    {
        top:5%;
    }
        .container_art_1
        {
            width:100%;
        }
            .boton_1
            {
                @include width-heigth(130px, 30px);
            }
                .container_botones
                {
                    top:110%;
                }
}

    /*FIN HEADER*/