@import "../02-base/color";
$carousel-control-prev-icon-bg: url("../../../Imagenes/Icon\ feather-arrow-left-circle.svg");
$carousel-control-next-icon-bg: url("../../../Imagenes/Icon\ feather-arrow-right-circle.svg");
$carousel-indicator-active-bg: $color-naranja;
$accordion-icon-color: $color-naranja;
$accordion-icon-active-color: $color-naranja;
$accordion-button-active-bg: $color-gris;
$accordion-button-bg: $color-gris;
$accordion-button-focus-box-shadow: $color-gris;
$blue:$color-naranja;
$font-size:3rem;