@import "./01-utilitles/variables";

@import "../bootstrap-5.1.0/scss/bootstrap.scss";

@import "./02-base/color";

@import "./01-utilitles/mixins";

@import "./04-layout/header";

@import "./04-layout/main";

@import "./04-layout/aside";

@import "./04-layout/secc_5_form";

@import "./04-layout/footer";